.todo-text {
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
}

.todo-text.completed {
  text-decoration: line-through;
  color: #888;
}

.empty-message {
    text-align: center;
    opacity: 0.7;
    padding: 20px;
    font-style: italic;
}